.cart{
  padding: 20px 15px;
  color: white;
  background-color: var(--main-green);
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  width: 330px;
  overflow-x: hidden;
}
#cart-total {
  font-size: 1.5rem;
  margin: 20px 0;
}
.cart-items{
  margin: 10px 0;
  overflow-x: hidden;
}
.cart-item {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  /* border: 1px solid var(--foreground); */
  padding: 10px;
  border-radius: 5px;
  background-color: #84a63f;
  box-shadow: 5px 5px 5px rgba(35, 63, 46, 0.517);
}
.cart-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.cart-item-amount{
  background-color: var(--light-green);
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--foreground);
}
.cart-item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-trash {
  padding: 5px;
  cursor: pointer;
}
.toggle-button {
  background: none;
  color: white;
  border: none;
  text-align: left;
}
.cart-closed{
  width: 308px;
  text-align: center;
}
.cart-closed button {
  color: black;
  font-size: 3rem;
  margin: 20px 0;
}
.trash{
  width: 20px;
  height: 20px;
}
