.cart{
  padding: 20px;
  color: white;
  background-color: var(--main-green);
  width: 200px;
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#cart-total {
  font-size: 1.5rem;
  margin: 20px 0;
}
.cart-items{
  margin: 10px 0;
}
.toggle-button {
  background: none;
  color: white;
  border: none;
  text-align: left;
}
.cart-closed{
  width: 250px;
  text-align: center;
}
.cart-closed button {
  color: black;
  font-size: 3rem;
  margin: 20px 0;
}
