.gnome-item {
  height: 220px;
  width: 220px;
  border-radius: 10px;
  margin-bottom: 75px;

}
.gnome-item-cover{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

}
.gnome-item-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
