.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 20, 13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: var(--background);
  padding: 30px;
  border-radius: 8px;
  max-width: 700px;
  width: 80%;
  max-height: 95vh;
  overflow-y: auto;
  position: relative;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 10px;
  color: var(--foreground);
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}
.modal-header {
  width: 70%;
  margin: 0 auto 20px auto;
}
.modal-header img {
  border-radius: 8px;
  width: 100%;
  height: 10%;
}
.modal-title {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-title h2 {
  margin: 0;
  font-size: 1.6rem;
}
.modal-price {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-green);
}
.modal-body {
  margin-bottom: 20px;
  text-align: justify;
  width: 95%;
  margin: auto;
}
.modal-attributes {
  display: flex;
  gap: 20px;
  margin-top: 15px;

}
.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
