.nains-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none;
  justify-content: center;
}
.shopping-list {
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}
.add-cart {
  cursor: copy;
}
