.nains-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none;
  justify-content: flex-start;
}
.shopping-list {
  width: 90%;
  margin: 20px 60px;
}
