.nains-list {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
	max-width: 800px;
  gap: 24px;
  list-style-type: none;
}
.nain-item {
  background-color: #e7f9e5;
  border: 2px solid var(--foreground);
  border-radius: 8px;
  height: 150px;
	width: 150px;
	margin: 10px;
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.special-offer {
  position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: var(--green);
  border-radius: 2px;
}
