/* @import "tailwindcss"; */

:root {
  --background: #f3fbf2;
  --foreground: #171717;
  --green: #6D9035;
  --primary-font: 'Roboto', Arial, sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-font: 'Roboto', Arial, sans-serif;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}
