/* @import "tailwindcss"; */

:root {
  --background: #f5f9f4;
  --foreground: #171717;
  --main-green: #6D9035;
  --light-green: #E1ECB9;
  --primary-font: 'Roboto', Arial, sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-font: 'Roboto', Arial, sans-serif;
  }
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}
.button {
  margin: 10px 0;
  padding: 6px;
  background-color: var(--light-green);
  border: none;
  border-radius: 6px;
  border: 1px solid var(--main-green);
}
.button:hover{
  background-color: #c0d291;
}
.button:active {
  background-color: #94a56a;
}
.button-selected {
  border: 0.7mm ridge var(--main-green);
}
