@import "tailwindcss";

:root {
  --background: #f5f9f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-font: 'Roboto', Arial, sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
  margin:60px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}

.cart {
  padding: 40px;
  width: 300px;

}
